<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hritik.resume">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".instruction.InstructionMain"></activity>
        <activity android:name=".main_section.MainActivity" />
        <activity android:name=".displays.Display2" />
        <activity android:name=".displays.Display" />
        <activity android:name=".main_section.Selection" />
        <activity android:name=".insertion.Exp_Desc" />
        <activity android:name=".insertion.Int_Desc" />
        <activity android:name=".insertion.Edu_Desc" />
        <activity android:name=".insertion.Prg_Desc" />
        <activity android:name=".insertion.Ach_Desc" />
        <activity android:name=".main_section.MainResume" />
        <activity android:name=".main_section.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>